@import "reset";


.center-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    button {
        text-transform: uppercase;
        background-color: rgb(255, 255, 255);
        border: none;
        margin-bottom: 5px;
        height: 30px;
        width: 60px;
        box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.2);
        border-radius: 5px;
        font-weight: bold;
        transition: 0.3s;
    }
    button:hover {
        background-color: #111111;
        color: #fff;
    }
    button:active {
        transform: translateY(2px);
    }
    p {
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
    }
}
.circle {
	width: 500px;
	height: 500px;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;  
    grid-template-areas: 
      ". ."
      ". .";
    grid-column-gap: 0;
    // background-color: #3a3a3a;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    // padding: 0.8rem;
    // border-radius: 50%;
}

@media screen and (max-width: 768px) {
    
}

.center-menu {
    width: 140px;
    height: 140px;
    background-color: #a5a5a5;
    position: absolute;
    border: 1.2rem solid #3a3a3a;
    border-radius: 50%;
    z-index: 1;
;
}
.button {
    width: 220px;
    height: 220px;
    // border: 1rem solid #3a3a3a;
    
}

.red {
	background-color: #ff2b2b;
	border-radius: 100% 0 0 0;
    transition:  0.2s;
    box-shadow: 8px 8px 10px 3px rgba(0,0,0,0.2);
}

.blue {
	background-color: #3d4aff;
	border-radius: 0 100% 0 0;
    transition:  0.2s;
    box-shadow: 8px 8px 10px 3px rgba(0,0,0,0.2);
}
.green {
	background-color: #40ff50;
	border-radius: 0 0 100% 0;
    // border-bottom: 10px solid #30bd3c;
    // border-right: 4px solid #30bd3c;
    // border-left: 0px solid #30bd3c;
    transition:  0.2s;
    box-shadow: 8px 8px 10px -3px rgba(0,0,0,0.2);
}
.yellow {
    background-color: #f8de49;
    border-radius: 0 0 0 100% ;
    transition:  0.2s;
    box-shadow: 8px 8px 10px 3px rgba(0,0,0,0.2);
}

.active {
    transform: translateY(4px);
    // background-color: #81e089;
    filter: contrast(1.8);
    box-shadow: 8px 8px 10px -3px rgba(0,0,0,0.1);

}

.play {
    filter: contrast(1.8);
}


